"$schema" = 'https://starship.rs/config-schema.json'

format = """
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$c\
$rust\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\
$dart\
$jobs\
$line_break\
$character"""

palette = 'gruvbox_dark'

[palettes.gruvbox_dark]
color_fg0 = '#d7af87'
color_fg1 = '#c34043'
color_blue = '#7e9cd8'
color_blue_dark = '#192c52'
color_aqua = '#689d6a'
color_green = '#98971a'
color_orange = '#d65d0e'
color_purple = '#b16286'
color_red = '#cc241d'
color_yellow = '#d79921'

[directory]
style = "fg:color_fg0"
format = "[$path ]($style)"
truncation_length = 3

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Developer" = "󰲋 "

[git_branch]
symbol = ""
format = '[[$symbol $branch](fg:color_blue)]($style)'

[git_status]
ignore_submodules = true
format = '[[($all_status$ahead_behind)](fg:color_blue)]($style)'

[git_state]
format = '[[\($state( $progress_current/$progress_total)\)](fg:color_blue_dark)]($style)'

[git_commit]
format = '[[\($hash$tag\)](fg:color_blue_dark)]($style)'

[nodejs]
symbol = ""
format = '[[ $symbol( $version) ](fg:color_fg1)]($style)'

[c]
symbol = " "
format = '[[ $symbol( $version) ](fg:color_fg1)]($style)'

[rust]
symbol = ""
format = '[[ $symbol( $version) ](fg:color_fg1)]($style)'

[golang]
symbol = ""
format = '[[ $symbol( $version) ](fg:color_fg1)]($style)'

[php]
symbol = ""
format = '[[ $symbol( $version) ](fg:color_fg1)]($style)'

[java]
symbol = " "
format = '[[ $symbol( $version) ](fg:color_fg1)]($style)'

[kotlin]
symbol = ""
format = '[[ $symbol( $version) ](fg:color_fg1)]($style)'

[haskell]
symbol = ""
format = '[[ $symbol( $version) ](fg:color_fg1)]($style)'

[python]
symbol = ""
format = '[[ $symbol( $version) ](fg:color_fg1)]($style)'

[docker_context]
symbol = ""
format = '[[ $symbol( $context) ](fg:#83a598)]($style)'

[conda]
format = '[[ $symbol( $environment) ](fg:#83a598)]($style)'

[dart]
symbol = " "
format = '[[ $symbol ](fg:color_aqua)]($style)'

[time]
disabled = false
time_format = "%R"
format = '[[  $time ](fg:color_fg0)]($style)'

[line_break]
disabled = false

[jobs]
style = "fg:color_orange"
symbol = ' '
number_threshold = 1
symbol_threshold = 1
